<%= form_tag finish_claim_player_path do %>
  <div>
    <%= select_tag 'player_id', options_from_collection_for_select(@players, 'id', 'name') %>
  </div>
  <div>
    <%= submit_tag 'Claim', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', root_path, class: 'btn' %>
  </div>
<% end %>