<thead>
  <tr>
    <th></th>
    <th class="hidden-phone">Date</th>
    <th>Red<span class="hidden-phone"> Offense</span></th>
    <th><span class="hidden-phone">Red Defense</span></th>
    <th class="hidden-phone">Red Score</th>
    <th>Blue<span class="hidden-phone"> Offense</span></th>
    <th><span class="hidden-phone">Blue Defense</span></th>
    <th class="hidden-phone">Blue Score</th>
    <th class="hidden-phone"></th>
  </tr>
</thead>