<h1>Listing games</h1>

<table class="table table-bordered">
  <%= render partial: 'games/table_header' %>

  <tbody>
    <%= render partial: 'game', collection: @games %>
  </tbody>
</table>

<%= paginate @games, theme: 'bootstrap' %>

<br />

<%= link_to 'New game', new_game_path, class: 'btn btn-success' %>