<h1>Listing games</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Permalink</th>
      <th>Red Offense</th>
      <th>Red Defense</th>
      <th>Red Score</th>
      <th>Blue Offense</th>
      <th>Blue Defense</th>
      <th>Blue Score</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'game', collection: @games %>
  </tbody>
</table>

<br />

<%= link_to 'New game', new_game_path, class: 'btn btn-success' %>