<h1>It's a game</h1>

<table class="table table-bordered">
  <%= render partial: 'games/table_header' %>

  <tbody>
    <%= render 'game', game: @game %>
  </tbody>
</table>

<br />

<%= link_to 'Back', games_path, class: 'btn' %>