<h1>It's a game</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Permalink</th>
      <th>Date</th>
      <th>Red Offense</th>
      <th>Red Defense</th>
      <th>Red Score</th>
      <th>Blue Offense</th>
      <th>Blue Defense</th>
      <th>Blue Score</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'game', game: @game %>
  </tbody>
</table>

<br />


<%= link_to edit_game_path(@game), class: 'btn' do%><i class="icon icon-pencil"></i> Edit<% end %>
<%= link_to 'Back', games_path, class: 'btn' %>