// $iconSpritePath: asset-path('glyphicons-halflings.png', image);
// $iconWhiteSpritePath: asset-path("glyphicons-halflings-white.png", image);
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bootstrap-customizations';

.score {
  font-weight: bold;
  padding: 5px;
  border: 2px solid grey;
  width: 20px;
  margin: auto;
  text-align: center;
}

.winner {
  color: white;
  background: green;
}

.loser {
  color: white;
  background: red;
}

.tie {  
  color: black;
  background: gold;
}

.winner-cell {
  background: #cdc;
}

.tie-cell {
  background: #eee;
}

.loser-cell {
  background: #dcc;
}

#spinner img {
  margin-top: 20%;
  opacity: 1;
}

#spinner {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  opacity: 0.5;
  z-index: 1000;
  background-color: white;
  display: none;
}

img.avatar {
  border: 1px solid #ccc;
  padding: 2px;
  opacity: .9;
}

img.avatar:hover {
  border-color: #aaa;
  opacity: 1;
}