<div class="masthead">
  <h3 class="muted">Foosgab</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <%= nav_link 'Home', root_path %>
          <%= nav_link 'Players', players_path %>
          <%= nav_link 'Games', games_path %>
          <%= nav_link 'Standings', '#' %>
        </ul>
      </div>
    </div>
  </div>
</div>